* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden !important;
}

@font-face {
  font-family: "Benguiat";
  src: url(assets/fonts/Benguiat\ Bold.ttf);
}

body {
  background-color: #0c0102;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-size: 16px;
  display: flex;
  gap: 12px;
  border: none;
  outline: none;
  padding: 16px 0px;
  border-bottom: 1px solid white;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4vw;
  position: absolute;
  z-index: 10;
}

section {
  width: 100%;
  display: flex;
  padding: 7vw;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

ul {
  list-style: none;
}

.hero {
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding: 0px 7vw 7vw 7vw;
  position: relative;

  picture {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }

  .hero__text,
  .hero__cta {
    width: 30%;
    z-index: 3;
  }

  .hero__text {
    h3 {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 2px;
    }

    h1 {
      font-size: 4vw;
      font-family: "Benguiat", sans-serif;
    }
  }

  .hero__cta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;

    p {
      font-size: 2vw;
      margin-bottom: 32px;
    }
  }
}

.hero::before {
  content: "";
  background: linear-gradient(180deg, rgba(12, 1, 2, 0) 0%, #0c0102 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.bg__monsters {
  background-image: url(assets/images/bg-sec2.webp);
  background-position: center;
  background-size: cover;
}

.cities {
  flex-direction: column;

  .city__button,
  .cities__cards,
  .city {
    display: flex;
    justify-content: space-between;
  }

  .city__button {
    align-items: center;
  }

  .cities__cards {
    margin-top: 52px;

    .city {
      background-image: url(assets/images/card1.webp);
      width: 32%;
      aspect-ratio: 16/9;
      background-size: cover;
      background-position: center;
      align-items: flex-end;
      padding: 20px;
    }

    .city:nth-child(2) {
      background-image: url(assets/images/card2.webp);
    }

    .city:nth-child(3) {
      background-image: url(assets/images/card3.webp);
    }
  }
}

.reviews {
  flex-direction: column;

  .reviews__testimonials,
  .reviews__logos {
    display: flex;
  }

  .reviews__logos {
    justify-content: space-between;
    align-items: center;
  }

  .reviews__testimonials {
    margin-top: 62px;
    justify-content: space-between;

    .reviews__testimonial {
      width: 31%;
    }
  }
}

.thanks {
  flex-direction: column;
  align-items: center;

  ul {
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(assets/images/bg-footer.webp);
  background-position: center;
  background-size: cover;

  .footer__content {
    display: flex;
    width: 100%;
    padding: 7vw;

    .footer__text {
      width: 30%;

      h3 {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 4px;
      }

      h2 {
        font-size: 3.7vw;
        font-family: "Benguiat", sans-serif;
      }
    }

    .footer__sections {
      display: flex;
      flex: 1;
      justify-content: end;
      gap: 6%;
      align-items: end;

      h3 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 12px;
      }

      .footer__section__social {
        ul {
          display: flex;
          gap: 12px;
        }
      }
    }
  }

  .footer__logos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
  }

  .footer__lyrics {
    width: max-content;
    display: flex;

    h3 {
      color: rgb(191, 191, 191);
      font-size: 12vw;
      padding-left: 8vw;
      font-family: "Benguiat", sans-serif;
      mix-blend-mode: color-dodge;
      animation: infinite_text 10s linear infinite;
    }
  }
}

@keyframes infinite_text {
  100% {
    transform: translateX(-100%);
  }
}

@media (max-widht: 1500px) {
  .cities {
    padding: 4vw;
  }
}

@media (max-width: 1400px) {
  .cities .cities__cards .city {
    flex-direction: column;
    align-items: start;
    justify-content: end;
  }
}

@media (max-width: 600px) {
  section {
    padding: 4vw;
  }

  h2 {
    font-size: 6vw;
  }

  .hero {
    flex-direction: column;
    padding: 26% 4vw 0;

    .hero__text,
    .hero__cta {
      width: 100%;
    }

    .hero__text {
      h3,
      h1 {
        text-align: center;
      }

      h1 {
        font-size: 12vw;
      }
    }

    .hero__cta {
      align-items: start;

      p {
        font-size: 5.5vw;
        text-align: start;
        margin-bottom: 16px;
      }
    }
  }

  .cities {
    margin-top: 80px;

    button {
      display: none;
    }

    .cities__cards {
      margin-top: 20px;
      flex-direction: column;
      gap: 20px;

      .city {
        width: 100%;
      }
    }
  }

  .reviews {
    .reviews__logos {
      img:nth-child(1),
      img:nth-child(3) {
        width: 20%;
      }

      img:nth-child(2) {
        width: 40%;
      }
    }

    .reviews__testimonials {
      flex-direction: column;
      gap: 48px;

      .reviews__testimonial {
        width: 100%;
      }
    }
  }

  .thanks {
    margin: 40px 0px 60px;

    h2 {
      text-align: center;
    }

    ul {
      width: max-content;
      gap: 32px;
      animation: infinite_text 10s linear infinite;
    }
  }

  footer {
    padding-top: 40px;

    .footer__content {
      padding: 4vw;
      flex-direction: column;

      .footer__text {
        width: 100%;

        h2,
        h3 {
          text-align: center;
        }

        h2 {
          font-size: 12vw;
        }
      }

      .footer__sections {
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;

        .footer__section__social {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 40px 0px 32px;
        }

        .footer__section__partners {
          width: 50%;

          img {
            width: 100%;
          }
        }

        .footer__section__institutional {
          width: 40%;
        }
      }

      .footer__logos {
        margin-top: 40px;
      }

      .footer__lyrics h3 {
        font-size: 20vw;
      }
    }
  }
}
